@{
    Layout = "_Layout";
}

    <img src="~/images/error-status.png" class="logo" alt="logo" />

    <img src="~/MyStaticFiles/download.png" alt="dummy" />

    <h1>Welcome to book store application</h1>
    <h1>Message Should be Updated</h1>
    <h1>@DateTime.Now</h1>

    <h1>Sum = @(3 + 5)</h1>

    <hr />
    <h1>Multiline</h1>

    @{
        int a = 10;
        int b = 20;
        int c = a + b;
    }

    <h1>@c</h1>

    <h2>My email = naufalasyamlikur@gmail.com</h2>
    <h2>Twitter = @@Naufal</h2>
